.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

bin/
gen/

target/
pom.xml.*
release.properties

*.iml
*.ipr
*.iws
*.idea/
out/

.gradle/
/local.properties
/build
/app/build

.DS_Store
.svn

EggShell.xcodeproj/

*.xccheckout

*.xccheckout

*.xccheckout

*.pbxproj
